.checkbox input {
    margin: 0px;
}
.acount-option{
    font-size: small;
}
.acount-option {
    font-size: small;
    margin: 20px 0px 10px 0px;
}
.navlink{
    text-decoration: none;
    color: blue;
}
