form.otp-form {
    /* max-width: max-content; */
}
.otp {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.otp input {
    width: 30px;
    font-size: larger;
    text-align: center;
}
.signup-form  button{
    width: 100%;
}

.page-description{
    font-size: small;
}